/* Your custom css code goes here */
.lesson-theme-link, .lesson-theme-link:hover {
  color: white;
  text-decoration: inherit;
}
.programming-editor-stdout {
  height:200px;
  white-space: pre-wrap;
}
#topNextLesson, #bottomNextLesson {
 margin-right: 5px; 
}
