/* Your custom css code goes here */
.navbar-brand-custom {
  margin: 0px !important;
  padding: 15px 5px !important;
}

.lesson-theme-link, .lesson-theme-link:hover {
  color: white;
  text-decoration: inherit;
}
.programming-editor-stdout {
  height:200px;
  white-space: pre-wrap;
}
.programming-editor-stdout-group {
  margin-bottom: 10px;
  width:100%;
}
#topNextLesson, #bottomNextLesson {
 margin-right: 5px; 
}
