<nav class="navbar navbar-expand-lg navbar-light" >
 <a class="navbar-brand" href="/index.html">
      <img src="/img/logo.png" alt="Nemezida IT Academy" height="36">
    </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-collapse" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/index.html">Главная</a></li>
            <li class="nav-item"><a class="nav-link" href="/courses.html">Курсы</a></li>
            <li class="nav-item"><a class="nav-link" href="/teachers.html">Менторы</a></li>
            <li class="nav-item"><a class="nav-link" href="/events.html">События</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
        </ul>
    </div>
</nav>
