#work-expirience {
    display: block;
}

#no-expirience {
    display: none;
}

.btn-full-size {
    text-align:
     center;width: 100%;
}

.btn-mrgn {
    margin-bottom: 15px !important;
    align-items: center;
    text-align: center;
}